.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 80vh;
}

.formContainer {
    width: 30vw;
    height: 80vh;
}

.pagesAndDateContainer {
    display: flex;
    justify-content: space-between;
}